body {
    font-family: goudy;
}

.display {
    width: 100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1.5fr .75fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "empty gears title empty2";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.gears {
    width:100%;
    grid-area: gears;
}

.name {
    grid-area: title;
    font-size: 48pt;
}

.card-holder {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
}

.card {
    justify-contents: center;
    align-contents: center;
    background-color: white;
    padding: 10px;
    width: 60%;
    display: grid;
    grid-template-columns: .3fr auto .3fr;
    grid-template-rows: auto .3fr;
    grid-template-areas: 
    "empty card empty2"
    "empty post-button empty2";
    transition: .5s all;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-image {
    height: 100%;
    width: 100%;
    grid-area: card;
}

.post-button {
    width: 100%;
    color: white;
    background-color: salmon;
    border: 1px solid salmon;
    transition: all .5s;
    letter-spacing: 5px;
    height: 50px;
    grid-area: post-button;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}

.post-button:hover {
    background-color: rgb(211, 94, 80);
    border: 1px solid rgb(211, 94, 80);
    cursor: pointer;
}

.info {
    padding: 150px 0;
    margin-top: 50px;
    text-align: center;
    font-size: 18pt;
    background-color: #7EA8D6;
}

@media screen and (max-width: 1225px) {
    .display {
        grid-template-columns: 1fr .75fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .display {
        grid-template-columns: .5fr .75fr 1fr .5fr;
    }
    .name {
        font-size: 36pt;
    }
}

@media screen and (max-width: 750px) {
    .display {
        grid-template-columns: .75fr 1fr;
        grid-template-areas:
        "gears title";
    }
    .name {
        font-size: 24pt;
    }
}