body {
    background-image: url(island.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.livemap-header {
    font-family: goudy;
    font-size: 48pt;
    text-align: center;
    padding-top:20px;
}

.display {
    padding: 0 0px 60px 0px;
    display: grid;
    font-family: goudy;
    row-gap: 5%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "info info info"
    "livemap livemap livemap";
}

.info-text > p {
    font-size: 18pt;
    margin: 0;
    padding: 3px;
    line-height: 1.5em;
}

.info-text {
    padding-left: 30px;
    padding-right: 30px;
    grid-area: info;
}

.livemap {
    grid-area: livemap;
    background-color: rgb(33, 33, 33);
    width: 95%;
    height: 100vh;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 1225px) {
    .display {
        grid-template-columns: .3fr 1fr .3fr;
    }
}